*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.header{
    background-color: black;
}
.container img{
    width: 80px;
    height: 80px;
}

.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px; 
}
.menu ul{
    display: flex;
    gap: 20px;
    font-size: 25px;
    color: white;
}
.menu a{
    color: white;
}
.fa-heart{
    color: red;
}